commands:
  01-attach-volume:
    command: |
      source /opt/python/current/env && \
      export IN_USE=$(/usr/bin/aws ec2 describe-volumes --output text \
        --volume ${EBS_VOLUME} | grep "in-use") && \
      if [ -z "${IN_USE}" ]; then
        /usr/bin/aws ec2 attach-volume --volume-id ${EBS_VOLUME} \
          --instance-id $(/opt/aws/bin/ec2-metadata --instance-id | cut -c14-) \
          --device /dev/sdf && \
        mkdir -p /data && \ 
        sleep 30 && \
        mount /dev/xvdf /data 
      fi
    env: 
      EBS_VOLUME: vol-a3f4a9a6 
      AWS_DEFAULT_REGION: us-west-2
      
