{% set content_style="centered" %}
{% extends "base.html" %}

{% block title %}
White Papers — {{super()}}
{% endblock %}

{% block content %}

<div class="page-header">
<h3>White Papers</h3>
<p>Our white papers outline System Logic’s strategic thinking and give an indication of the tools we can bring to bear 
on your specific problem domain.
</p>
</div>

<p>Please <a href="mailto:contact@system-logic.com">contact us</a> if you would like access to our materials.</p>

{% endblock %}


{% block after_jquery %}
{% endblock %}
